
.admin-form {
    display: flex;
    flex-direction: center;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group input {
    border: solid 1px #e7e7e7;
    border-radius: var(--border-radius-1);
    height: 28px;
    padding: .20rem .5rem;
    font-size: 90%;
}

button {
    margin: 4px;
    margin-left: 7px;
    color: white;
    background-color: var(--color-1);
    border-radius: var(--border-radius-1);
}

input.ng-invalid.ng-touched {
    border: solid 2px red !important
}
